* {
    font-family: Georgia, serif;
}

.btn-create {
    background-color: teal;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    padding: 11px;
    margin-top: 20px;
    /* width: 300px; */
    /* height: 50px; */
}

.table-header {
    background-color: teal;
    color: white;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 16px;
    margin-top: 20px;
}

.btn-show {
    background-color: teal;
    color: white;
    border-radius: 20px;
    text-decoration: none;
    padding: 10px;
    display: block;
    width: 100px;
    text-align: center;
    margin-bottom: 10px;
}

.btn-edit {
    background-color: teal;
    color: white;
    border-radius: 20px;
    padding: 10px;
    text-decoration: none;
    display: block;
    width: 100px;
    text-align: center;
    margin-bottom: 10px;
}

.btn-delete {
    background-color: teal;
    color: white;
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
    display: block;
    width: 120px;
    text-align: center;
    margin-bottom: 10px;
    border: none;
    font-size: 16px;
}
